.setter {
    background: orchid;
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    grid-template-columns: repeat(2, 1fr);
}

.buttons{
    padding: 20px;
}

.button{
    width: 120px;
    border-radius: 8px;
}

.button:hover {
    cursor: pointer;
}

.pill-box {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    align-items: center;
    background: ghostwhite;
    border: 2px solid orchid;
    font-size: 9px;
}

.pill {
    padding: 3px;
    font-size: 14px;
    text-align: center;
    background: coral;
    color: ghostwhite;
    border-radius: 16px;
}